<div class="col-4">
    <div class="card mb-3">
        <div class="card-header text-white bg-primary"><%= engineer.name %></div>
        <div class="card-body">
        <h5 class="card-title"><i class="fas fa-tools"></i> Engineer</h5>
            <ul class="list-group card-text">
                <li class="list-group-item"><strong>ID:</strong> <%= engineer.id %></li>
                <li class="list-group-item"><strong>Email:</strong> <%= engineer.email %></li>
                <li class="list-group-item"><strong>Github:</strong> <%= engineer.github %></li>
            </ul>
        </div>
    </div>
</div>