<div class="col-4">
    <div class="card mb-3">
        <div class="card-header text-white bg-primary"><%= manager.name %></div>
        <div class="card-body">
        <h5 class="card-title"><i class="fas fa-suitcase"></i> Manager</h5>
            <ul class="list-group card-text">
                <li class="list-group-item"><strong>ID:</strong> <%= manager.id %></li>
                <li class="list-group-item"><strong>Email:</strong> <%= manager.email %></li>
                <li class="list-group-item"><strong>Office:</strong> <%= manager.officeNumber %></li>
            </ul>
        </div>
    </div>
</div>